footer {
    margin-top: 8vw;
    background-image: url(https://images.unsplash.com/photo-1597567175782-1e5771f7f313?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHN0YXJzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
   width: 100%;
}
.Main-Footer-div {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vw;
    color: whitesmoke;
  }

  .Footer-div-0 {
    margin-left: 5vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10vw;
    gap: 1vw;
    color: whitesmoke;
    font-size: 4vh;
  }
  .Footer-div-1 {
    margin-left: 5vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    width: max-content;
    color: whitesmoke;
    font-size: 2.5vh;
  }
  

  .Footer-div-1 svg{
    margin-right: 1vw;
  }

  .Footer-div-2 {
    margin-left: 5vw;
    margin-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: row;
    border: 2px solid yellow;
    justify-content: space-between;
    color: whitesmoke;
    
    gap: 7vh;

  }
  
  .Footer-div-2 p {
    font-size: 3vh;
    border: 2px solid green;
   
  }

  .Footer-div-3 {
   
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 1.5vh;
    background-color:  #222831;

  }

  .Footer-div-3 p {
    padding: 1vw;
  }

  .Main-Footer-div a {
    margin-right: 20px;
    text-decoration: none;
    color: whitesmoke;
  }


  @media screen  and (max-width:400px){
    
  .Footer-div-2 {
    display: flex;
    flex-direction: column;
    gap: 6vh;

  }
    
  }
